// importacoes
@import './variaveis.less';

// classes
.resultado{
    display: none;
    // configs
    padding: 16px;
    margin-top: 32px;
    // bordas
    border: 8px dotted @corTexto;

    // elementos
    span{
        font-weight: bold;
        font-size: 2em;
        display: block;
    }
}
