@import './variaveis.less';

// elementos
h1{
    font-family: @fonteTitulo;
    font-size: 3em;
}

button{
    // configs
    margin-top: 16px;
    padding: 16px;
    // ----------------
    border-radius: 8px;
    cursor: pointer;
    // fonte
    font-family: @fontePrincipal;
    font-weight: bold;
    font-size: 1.3em;
    // cores
    background-color: @corFundoBotoes;
    color: @corTextoBotoes;
}