// importacao
@import './variaveis.less';

// elementos
body{
    background-color: @corFundo;
    font-family: @fontePrincipal;
    color: @corTexto;
}

main{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
}